#cart_content
  - unless cart.empty?
    %p
      = cart.quantity
      товаров
    %p
      на сумму
      = cart.price
      рублей
    = link_to 'перейти к заказу', cart_index_path, class: 'btn btn-success', id: "to_cart_index"
  - else
    %p корзина пока пуста
