/*
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/fancybox
 */

@import 'compass/css3'
@import 'bootstrap'

.container
  margin-top: 5px

#cart
  margin: 15px 0px 10px 0px
  vertical-align: top
