.img= image_tag(product.main_photo.small, alt: product.name) if product.photos?
.name= link_to product.name, category_product_path(product.category, product)
.price
  = number_to_currency(product.price).gsub('.00', '')
= link_to t('actions.to_cart'), cart_items_path(product), class: 'btn btn-info btn-mini btn-buy', remote: true, method: :post
